---
import Home from '@/assets/svgs/home.svg';
import Person from '@/assets/svgs/person.svg';
import WorkHistory from '@/assets/svgs/workhistory.svg';
import Folder from '@/assets/svgs/folder.svg';
import IconLink from '@/components/IconLink.astro'
---

<header class="center-content">
  <nav class="center-content">
    <IconLink asset={Home} href="/" />
    <!--TODO -->
    <IconLink asset={Person} href="/" />
    <IconLink asset={WorkHistory} href="/" />
    <IconLink asset={Folder} href="/" />
  </nav>  
</header>

<style>
  header {
    grid-area: header;
    align-self: end;

    nav {
      gap: 0.3rem;
      padding: 0.5rem;
      background-color: var(--color-secondary);
      border-radius: 0.7rem;
    }
  }
</style>