---
---

<section>
  <h1>Hello, I'm Brahian</h1>
  <p>
    I'm a passionate Systems Engineer who loves writing and designing high-quality software. I've worked primarily in frontend development since 2015, 
    but I also have solid backend knowledge.
  </p>
  <p>
    I enjoy learning new technologies. For example, this website is built with Astro, which I'm using for the first time.
  </p>
  <p>
    When I'm not coding, I enjoy playing videogames and watching movies, I'm a big fan of RPG like Persona 5. 
    I also go to the gym three times a week, as staying active helps me maintain focus, discipline, and a healthy work-life balance. 
  </p>
</section>
