---
import NavItem from '@/components/NavItem.astro';
import { SOCIAL_LINKS } from '@/constants/socials';
---

<div class="social-links">
  {SOCIAL_LINKS.map((link) => <NavItem {...link} />)}
</div>

<style>
  .social-links {
    display: flex;
  }
</style>
