html,
body {
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 18px;
}

html, body, h1, h2, p {
  margin: 0;
}

h1, h2, p {
  margin-bottom: 1rem;
}

body {
  background-color: var(--color-primary);
  color: white;
  position: relative;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
