html,
body {
	height: 100%;
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 16px;
}

html, body, h1, p {
  margin: 0;
}

body {
  background-color: var(--color-primary);
  color: white;
  position: relative;
}

h1 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}
