---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SummaryCard from "@/components/SummaryCard.astro";
import "@/assets/styles/palette.scss";
import "@/assets/styles/reset.scss";
import "@/assets/styles/commons.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<aside>
				<SummaryCard />
			</aside>
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss">
	body {
		margin: auto;
		max-width: 55em;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 4.5em 1fr 2.5em;
		grid-template-areas: 
			"header header header"
			"summary content content"
			"footer footer footer"
		;
		min-height: 100vh;
		gap: 1.5em;

		main {
			grid-area: content;
		}

		aside {
			max-width: 18em;
			grid-area: summary;
		}
	}
</style>
